.field-list{
  margin: 100px;
}

.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.error {
  color: red;
}

label.required {
  font-weight: bold;
}

label.required:after {
  content:"*";
  color:red;
}

.sign-up {
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

/* -----
SVG Icons
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}



.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

.add-field {
  stroke: white;
}
