<div class="changePassword-section">
  <div class="row justify-content-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="text-align: center">
          <h4>Change password</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

            <div class="form-group row">
              <label for="oldPassword" class="col-md-4 col-form-label text-md-right required">Old password</label>
              <div class="col-md-6">
                <input type="password" [formControlName]="'oldPassword'" placeholder="Password" id="oldPassword" class="form-control" required>
                <span *ngIf="!changePasswordForm.get('oldPassword').valid && changePasswordForm.get('oldPassword').touched" class="error">
                  Password is too weak!
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label for="newPassword" class="col-md-4 col-form-label text-md-right required">Password</label>
              <div class="col-md-6">
                <input type="password" [formControlName]="'newPassword'" placeholder="Password" id="newPassword" class="form-control"required>
                <span *ngIf="!changePasswordForm.get('newPassword').valid && changePasswordForm.get('newPassword').touched" class="error">
                  Password is too weak!
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label for="newPasswordConfirm" class="col-md-4 col-form-label text-md-right required">Password confirm</label>
              <div class="col-md-6">
                <input type="password" [formControlName]="'newPasswordConfirm'" placeholder="Repeat your password" id="newPasswordConfirm" class="form-control" name="password" required>
                <span *ngIf="!changePasswordForm.get('newPasswordConfirm').valid && changePasswordForm.get('newPasswordConfirm').touched" class="error">
                  Passwords must match!
                </span>
              </div>
            </div>




            <span class="col-md-6 offset-md-4">
                            <button type="submit" class="changePassword">
                                Confirm
                            </button>
                        </span>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

